body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.first_section_div {
  height: 100vh;
  background-color: #000;
}

header {
  background-color: #3c3a39;
}

#main_section {
  margin-top: 60px;
}

.nav_bar {
  display: flex;
  flex-wrap: wrap;
  color: #acb7c3;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  aspect-ratio: 375/92;
  margin: auto;
}

.name_logo a {
  color: #fff;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
}

#sub_section1 {
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 500px;
}

#intro_name {
  font-weight: 700;
  font-family: Crete Round, sans-serif;
  color: #ff6b00;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin: 120px 24px auto 20px;
}

.intro_text {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 5px 24px auto 20px;
}

#introduction {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  color: #ffff;
  margin: 15px 24px auto 20px;
}

.sub_section2 {
  color: #d3e1f9;
  margin: 15px 24px auto 20px;
}

#social_media {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.colored {
  color: #d3e1f9;
}

#social_media_tag {
  list-style: none;
  padding-inline-start: 0;
  margin: 15px 24px auto -2px;
}

.social_media_link {
  display: inline;
  margin-right: 15px;
}

.side_image {
  position: absolute;
  width: 108.504%;
  aspect-ratio: 406.89 / 312.03;
  left: 45%;
  top: 70%;
}

.second_section_container1 {
  background-color: #fff;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px, 56px, 568px, repeat(6, 386px);
  row-gap: 24px;
  margin-top: 10%;
  padding-inline: 24px;
  padding-block: 120px;
}

.recent_work {
  color: #1c1a19;
  font-size: 35px;
  font-weight: 700;
  line-height: 52px;
  font-family: 'Crete Round', sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

.line_divider {
  border-top: 1px solid #212121;
  width: 100%;
  padding: 0;
  margin: 50px 0 0 0;
}

.stories {
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px 0 0 18px;
}

.image_holder {
  width: 100%;
  aspect-ratio: 327/237;
}

.work-main-image {
  margin: 70px 0 0 0;
}

.work_description {
  display: flex;
  flex-direction: column;
  gap: 10px 12px;
  flex: 3;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #091e42;
  text-align: justify;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  margin: 6px 5px 29px -40px;
}

.languages li {
  font-size: 15px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  box-sizing: border-box;
  padding: 5px 12px;
  line-height: 17px;
  height: 30px;
  background: #fff;
  border: 1px solid #8993a4;
  border-radius: 1px;
  margin-top: 10px;
}

.see_button {
  position: absolute;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: #ff6b00;
  width: 124px;
  height: 48px;
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.bg_image {
  width: 327px;
  height: 386px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  margin: -280px 0 0 0;
}

.second_section_container2 {
  background-color: #fff;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px, 56px, 568px, repeat(6, 386px);
  row-gap: 24px;
  margin-top: 10%;
  padding-inline: 24px;
  padding-block: 120px;
}

.work_content {
  position: absolute;
}

.second_section_footer {
  position: absolute;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: #ff6b00;
  width: 327px;
  height: 48px;
  display: flex;
  justify-content: center;
  margin: 196px 0 0 0;
}

.footer_fullwidth {
  margin-top: 13px;
}

.work_title_art {
  color: #fff;
  position: relative;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin: -70px 45px 46px 21px;
}

.work_description2 {
  color: #fff;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 150;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  margin: -28px 70px 0 20px;
}

.language_group2 {
  list-style-type: none;
  text-align: center;
  margin: -87px 92px 34px -20px;
}

.language_group2 li {
  margin: 3px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  box-sizing: border-box;
  padding: 5px 9px;
  line-height: 17px;
  height: 30px;
  background: rgba(255, 255, 255, 0.24);
  position: relative;
}

.third_section_container {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  height: 1901px;
}

.about_us_div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-inline: 24px;
  height: 652px;
}

.about_title {
  color: #ff6b00;
  font-family: Crete Round, sans-serif;
  line-height: 88px;
  font-size: 75px;
  font-weight: 400;
  padding-top: 120px;
  margin: 0;
}

.about_content {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #f4f5f7;
  padding: 0;
}

.line_divider_container {
  padding-inline: 24px;
  margin: 47px;
}

.resume_button {
  position: absolute;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background-color: #ff6b00;
  width: 162px;
  height: 48px;
  display: flex;
  justify-content: center;
  margin-top: 392px;
}

.button_resume {
  margin: auto;
}

.image_frame_holder {
  background-image: url('images/Frame.png.png');
  background-repeat: no-repeat;
  position: absolute;
  width: 493.27px;
  height: 258.7px;
  left: 60%;
  top: 410%;
}

.skill_item_list1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  list-style-type: none;
}

.skill_item_list1 li {
  font-size: 22px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  box-sizing: border-box;
  padding: 5px 2px;
  line-height: 5px;
  text-align: center;
  margin: 12px 115px -19px 55px;
  color: #fff;
}

.skill_display_title1 {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-block: 44px;
  margin-left: 76px;
}

.skill_display_rectangle55 {
  margin: 0 0 -85px 41px;
}

.skill_display_rectangle56 {
  margin: 0 0 -68px 45px;
}

.skill_display_rectangle57 {
  margin: 0 0 -79px 69px;
}

.skill_item_list2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  list-style-type: none;
}

.skill_item_list2 li {
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  box-sizing: border-box;
  padding: 5px 12px;
  line-height: 17px;
  text-align: center;
  margin: 12px 115px -19px 55px;
  color: #fff;
}

.skill_item_list3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  list-style-type: none;
  padding: 0;
}

.skill_item_list3 li {
  font-size: 22px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  box-sizing: border-box;
  padding: -2px 12px;
  line-height: 5px;
  text-align: center;
  margin: 32px 95px -19px 55px;
  color: #fff;
}

.skill_display_title2 {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-left: 75px;
}

.skill_display_title3 {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-block: 44px;
  margin-left: 121px;
}

.white_contact_bg {
  flex-direction: row;
  padding: 130px;
  gap: 24px;
  background: #fff;
}

.formpage_content_container {
  display: flex;
  justify-content: center;
  width: 127px;
  height: 246px;
  padding: 112px;
  text-align: center;
}

.formpage_content {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 32px;
  line-height: 44px;
  margin: 29px -79px 99px -78px;
}

.footer_section {
  background-color: #fff;
  color: #505f79;
  border-top: 1px solid #dfe1e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social_media_tag_footer {
  display: flex;
  justify-content: center;
  margin-block: 15px;
  width: 200px;
  height: 40px;
  align-items: center;
}

.line_divider3 {
  box-sizing: border-box;
  width: 134px;
  background-color: #0d151e;
  margin-block: 8px;
  border-radius: 10px;
}

.inputs {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #7e2102;
  padding: 14px;
  width: 325px;
  height: 25px;
  margin-left: 12px;
}

.contact_me_form textarea {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fbf8f7;
  border-bottom: none;
  width: 325px;
  height: 114px;
  align-self: center;
  margin: 29px -79px 99px 10px;
}

.button {
  background-color: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  width: 131px;
  height: 48px;
  padding: 12px;
  border: none;
  align-items: center;
  margin: -39px -79px 99px 107px;
}

.button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}
